
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>RM-Metals</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Template styles-->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Animation -->
    <link rel="stylesheet" href="~/css/animate.css">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <!-- Bxslider -->
    <link rel="stylesheet" href="~/css/jquery.bxslider.css">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="~/js/html5shiv.js"></script>
      <script src="~/js/respond.min.js"></script>
    <![endif]-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body style="background: #dddddd;">
    <!-- Header start -->
    <header id="header" class="navbar-fixed-top main-nav" role="banner">
        <div class="container" style='background-image:url(../../images/Bannerback1.jpg); background-repeat:repeat-x'>
            <div class="row">
                <div class="col-md-12 heade_bg">
                    <!--/ Top info start -->
                    <div class="top-info">
                        <ul class="pull-right">
                            <!-- Social links -->
                            <li class="social-icon">
                                <a id="tooltip2" data-toggle="tooltip" data-placement="top" title="Facebook" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a id="tooltip1" data-toggle="tooltip" data-placement="top" title="Twitter" href="https://twitter.com/RMCreations1">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <!--   <a id="tooltip3" href="#" data-toggle="tooltip" data-placement="top" title="Google+">
                                   <i class="fa fa-linkedin"></i>
                               </a>
                               <a id="tooltip4" href="#" data-toggle="tooltip" data-placement="top" title="Dribble">
                                   <i class="fa fa-skype"></i>
                               </a>
                                <a id="tooltip2" data-toggle="tooltip" data-placement="top" title="Googlehangout" href="#">
                                   <i class="fa fa-comments"></i></a>-->


                            </li><!-- Social links end-->
                            @Html.Partial("_LoginPartial")

                        </ul>
                    </div><!--/ Top info end -->
                    <!-- Logo start -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand logo" href='@Url.Action("Index", "Home")'>
                            <img class="img-responsive" src="~/images/logo.png" alt="logo">
                        </a>
                    </div><!--/ Logo end -->

                    <nav class="collapse navbar-collapse clearfix" role="navigation">
                        <ul class="nav navbar-nav navbar-right">
                            <li id="home" class="dropdown  @((ViewBag.PageName == "Home") ? "active" : "")">
                                @Html.ActionLink("Home", "Index", "Home")
                            </li>
                            <li id="Inventory" class="dropdown  @((ViewBag.PageName == "Inventory") ? "active" : "")">@Html.ActionLink("Inventory", "Index", "Inventory")</li>

                            @if (Request.IsAuthenticated)
                            {

                                if (User.IsInRole("Admin"))
                                {
                                    <li id="Admin" class="dropdown @((ViewBag.PageName == "Admin") ? "active" : "")">
                                        <a class="dropdown-toggle" data-toggle="dropdown">Admin</a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Report", "Index", "Report")</li>
                                            <li>@Html.ActionLink("UpLoad Inventory", "Create", "Inventory")</li>
                                            <li>@Html.ActionLink("Approve Users", "Approval", "Inventory")</li>
                                            <li>@Html.ActionLink("InActivate Users", "InActive", "Inventory")</li>
                                            <li>@Html.ActionLink("Manage Inventory", "Index", "Admin")</li>
                                        </ul>
                                    </li>
                                }
                            }
                            <li class="dropdown @((ViewBag.PageName == "DataTables") ? "active" : "")">@Html.ActionLink("Data Tables", "DataTables", "Home") </li>


                            <li class="dropdown @((ViewBag.PageName == "Policies") ? "active" : "")">@Html.ActionLink("Policies", "Policies", "Home") </li>

                            <li class="dropdown @((ViewBag.PageName == "Documents") ? "active" : "")">@Html.ActionLink("Documents", "Documents", "Home") </li>


                        </ul>
                    </nav><!--/ Navigation end -->


                </div><!--/ Col end -->

            </div><!--/ Row end -->

        </div><!--/ Container end -->
    </header><!--/ Header end -->

    <section id="innercontent">




        <section id="service" class="wow fadeInUp">
            <div class="container">
                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </section>
        <section id="footer-wrapper">
            <!-- Footer top start -->
            <footer id="footer" style="background-color:#f0f0f0;">
                <div class="container" style="background-color:#054167;">
                    <div style="height:15px;">
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-3 wow fadeInRight animated">
                            <div class="quicklinks">
                                <h3 class="footer-title">Quick Links</h3>


                                <ul>
                                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                    <li>@Html.ActionLink("LOCAL DISTRIBUTION", "LOCALDISTRIBUTION", "Home")</li>
                                    <li><a href="http://www.rm-exports.com/">EXPORT SALES   </a></li>
                                    <li>@Html.ActionLink("INVENTORY", "Index", "INVENTORY")</li>
                                    <li>@Html.ActionLink("DATA TABLES", "DATATABLES", "Home")</li>
                                    <li>@Html.ActionLink("POLICIES", "POLICIES", "Home")</li>
                                </ul>


                            </div>
                        </div><!--/ end about us -->



                        <div class="col-md-3 col-sm-3 wow fadeInRight animated">

                            <h3 class="footer-title">contact Us</h3>
                            <div class="contactaddress">

                                <address>
                                    <ul class="list-unstyled">
                                        <li class="footer-sprite address">
                                            50 Cragwood Road, Suite 308<br>
                                            South Plainfield, NJ 07080, USA<br>
                                        </li>
                                        <li class="footer-sprite phone">
                                            Tel : 001 (908) 222-1500
                                        </li>
                                        <li class="footer-sprite">
                                            <span class="fax"><i class="fa faximg" style="width:28px;"></i>&nbsp;Fax : 001 (908) 222-1665</span>
                                        </li>
                                        <li class="footer-sprite email">
                                            <a href="mailto: rmmetals@gmail.com"> sam@rm-metals.com</a>
                                        </li>
                                    </ul>
                                </address>

                            </div>

                        </div><!--/ end flickr -->

                        <div class="col-md-3 col-sm-3 wow fadeInRight animated">
                            <div class="footer-icons">
                                <h3 class="footer-title">Follow Us</h3>
                                <p class="footer-social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/RMCreations1"><i class="fa fa-twitter"></i></a>

                                    @*<a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-skype"></i></a>
                                        <a href="#"><i class="fa fa-comments"></i></a>*@

                                </p>

                            </div>
                        </div><!--/ end tweet -->

                    </div><!-- Row end -->
                    <div class="row" style="background-color:#072d46;">


                        <div class="col-md-12 wow fadeInRight animated" style="visibility: visible;">
                            <div class="copyright-info">
                                <span> Rights Reserved, RM METALS 2011-2016  Copyright</span>
                                &nbsp;|&nbsp; <span><a href="http://www.thealmit.com/">Powered By almIT Services Inc.,</a></span>
                            </div>
                        </div>
                    </div>
                </div><!-- Container end -->
            </footer><!-- Footer top end -->
            <!-- Footer bottom start -->

        </section>
    </section>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- Owl Carousel -->
    <script type="text/javascript" src="~/js/owl.carousel.js"></script>
    <!-- SmoothScroll -->
    <script type="text/javascript" src="~/js/smoothscroll.js"></script>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <script src="~/js/select2.min.js"></script>
    <script src="~/js/select2.multiselect.js"></script>

    <script src="~/js/jquery.multiselect.js"></script>

    <script type="text/javascript">
        $(function () {
            $("select").multiselect();
        });
    </script>

</body>
</html>
